.dashboard-home-container {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #f8f7fc;
    padding-left: 0 !important;
    padding-top: 0 !important;
    height: calc(100vh - 73px);
}

.dashboard-home-container .home-content .row-2 {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
}

.dashboard-home-container .home-content .row-2 .pulse,
.dashboard-home-container .home-content .row-2 .geo-analytics {
    background-color: #fff;
    border-radius: 15px;
    margin-top: 20px;
}

.dashboard-home-container .home-content .row-2 .pulse table {
    width: 100%;
}

.dashboard-home-container .home-content .row-2 .pulse table tbody tr {
    border: 0;
}

.dashboard-home-container .home-content .row-2 .pulse table tr td {
    padding: 10px 10px 10px 0;
}

.dashboard-home-container .home-content .row-2 .pulse table thead tr {
    border-bottom: 1px solid #d4cece;
}

.dashboard-home-container .home-content .row-2 .pulse table thead tr th {
    font-size: 18px;
    line-height: 22px;
    color: #2f3241;
    font-weight: normal;
    padding: 10px 10px 10px 0;
}

.dashboard-home-container .home-content .row-2 .pulse table thead tr th p {
    display: flex;
    gap: 30px;
    align-items: center;
}

.pulse table thead tr th p span {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .analytics-btn button {
    transition: 0.3s;
    position: relative;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .analytics-btn button::after {
    transition: 0.3s;
    content: "";
    display: none;
    width: 100%;
    height: 7px;
    background-color: #2a659a;
    border-radius: 10px 10px 0 0;
    position: absolute;
    bottom: -16px;
    left: 0;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .analytics-btn button:hover {
    color: #2a659a;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .analytics-btn button.active {
    color: #2a659a;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .analytics-btn button.active::after {
    display: block;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .select-group {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 12px;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .select-group div {
    background-color: #eef1f4;
    border-radius: 25px;
    padding: 13px 20px;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .select-group div select {
    background-color: #eef1f4;
    font-size: 20px;
    line-height: 24px;
    color: #2f3241;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .map-wrap {
    height: 370px;
    width: fit-content;
    margin: 0 auto;
}

.geo-analytics .map-wrap iframe {
    width: 700px;
    height: 350px;

}

.dashboard-home-container .home-content .graph-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    justify-content: center;
    align-items: center;
}

.dashboard-home-container .home-content .graph-section .total-payment {
    border-left: 1px solid #ddd8d8;
    padding: 65px 70px;
}

.dashboard-home-container .home-content .graph-section .total-payment .recharts-layer .recharts-cartesian-axis-line {
    display: none;
}

.dashboard-home-container .home-content .graph-section .total-payment line.recharts-cartesian-axis-tick-line {
    display: none;
}

.dashboard-home-container .home-content .graph-section .treatment {
    padding: 25px 70px;
}

.dashboard-home-container .home-content .graph-section .graph-container {
    width: 100%;
}

.dashboard-home-container .home-content .graph-section .graph-container canvas {
    width: 500px !important;
    height: 250px !important;

    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 1920px) {

    .admin-profile,
    .home-content hr {
        display: none !important;
    }

    .home-content {
        padding-top: 0px;
    }

    .home-content .row-2 {
        grid-template-columns: auto 1fr !important;
        height: fit-content !important;
    }

    .row-2 .pulse,
    .row-2 .geo-analytics {
        margin-top: 10px !important;
    }

    .geo-analytics .map-wrap iframe {
        width: 400px;
        height: 150px;
    }

    .dashboard-home-container .home-content .row-2 .pulse table tr th,
    .dashboard-home-container .home-content .row-2 .pulse table tr td {
        padding: 5px 5px 5px 0;
    }

    .dashboard-home-container .home-content .row-2 .geo-analytics .select-group div {

        border-radius: 10px;
        padding: 5px 8px;
    }

    .dashboard-home-container .home-content .row-2 .geo-analytics .select-group div select {
        font-size: 0.8rem;
        line-height: 1.3;
    }

    .dashboard-home-container .home-content .row-2 .geo-analytics .map-wrap {
        height: auto;
    }

    .dashboard-home-container .home-content .graph-section .graph-container canvas {
        width: 360px !important;
        height: 150px !important;
    }

    .dashboard-home-container .home-content .graph-section {
        padding: 10px !important;
    }

    .dashboard-home-container .home-content .graph-section .total-payment {

        padding: 5px 10px !important;
    }

    .dashboard-home-container .home-content .graph-section .treatment {
        padding: 5px 10px !important;
    }

    .dashboard-home-container .home-content .row-2 .geo-analytics .analytics-btn button::after {
        bottom: -10px;
    }
}