.dashboard-home-container {
    display: grid;
    grid-template-columns: 412px 1fr;
    background-color: #f8f7fc;
    min-height: calc(100vh - 90px);
}

.dashboard-home-container .home-content .row-2 {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 20px;
}

.dashboard-home-container .home-content .row-2 {
    display: grid;
    grid-template-columns: 450px 1fr;
    column-gap: 20px;
}

@media screen and (max-width: 1920px) {
    .dashboard-home-container .home-content .row-2 {
        grid-template-columns: 1fr;
    }
}

.dashboard-home-container .home-content .row-2 .pulse,
.dashboard-home-container .home-content .row-2 .geo-analytics {
    background-color: #fff;
    border-radius: 15px;
    margin-top: 20px;
}

.dashboard-home-container .home-content .row-2 .pulse table {
    min-width: 100%;
}

.dashboard-home-container .home-content .row-2 .pulse table tbody tr {
    border: 0;
}

.dashboard-home-container .home-content .row-2 .pulse table tbody tr td {
    padding-left: 0;
    padding: 10px 10px 10px 0;
}

.dashboard-home-container .home-content .row-2 .pulse table thead tr {
    border-bottom: 1px solid #d4cece;
}

.dashboard-home-container .home-content .row-2 .pulse table thead tr th {
    font-size: 18px;
    line-height: 22px;
    color: #2f3241;
    font-weight: normal;
    padding-left: 0;
}

.dashboard-home-container .home-content .row-2 .pulse table thead tr th p {
    display: flex;
    gap: 30px;
    align-items: center;
}

.pulse table thead tr th p span {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .analytics-btn button {
    transition: 0.3s;
    position: relative;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .analytics-btn button::after {
    transition: 0.3s;
    content: "";
    display: none;
    width: 100%;
    height: 7px;
    background-color: #2a659a;
    border-radius: 10px 10px 0 0;
    position: absolute;
    bottom: -16px;
    left: 0;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .analytics-btn button:hover {
    color: #2a659a;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .analytics-btn button.active {
    color: #2a659a;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .analytics-btn button.active::after {
    display: block;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .select-group {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 12px;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .select-group div {
    background-color: #eef1f4;
    border-radius: 25px;
    padding: 13px 20px;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .select-group div select {
    background-color: #eef1f4;
    font-size: 20px;
    line-height: 24px;
    color: #2f3241;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .map-wrap {
    height: 370px;
    width: fit-content;
    margin: 0 auto;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .map-wrap .leaflet-container {
    border-radius: 20px;
    width: 98%;
    height: 98%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
}

.dashboard-home-container .home-content .row-2 .geo-analytics .map-wrap .leaflet-container .leaflet-control-attribution>a {
    display: none;
}

.dashboard-home-container .home-content .graph-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1920px) {
    .dashboard-home-container .home-content .graph-section {
        grid-template-columns: 1fr;
        height: auto;
    }
}

.dashboard-home-container .home-content .graph-section .total-payment {
    border-left: 1px solid #ddd8d8;
    padding: 65px 70px;
}

@media screen and (max-width: 1920px) {
    .dashboard-home-container .home-content .graph-section .total-payment {
        border-left: none;
        border-top: 1px solid #ddd8d8;
    }
}

.dashboard-home-container .home-content .graph-section .total-payment .recharts-layer .recharts-cartesian-axis-line {
    display: none;
}

.dashboard-home-container .home-content .graph-section .total-payment line.recharts-cartesian-axis-tick-line {
    display: none;
}

.dashboard-home-container .home-content .graph-section .treatment {
    padding: 25px 70px;
}

.dashboard-home-container .home-content .graph-section .graph-container {
    width: 100%;
}

.dashboard-home-container .home-content .graph-section .graph-container canvas {
    width: 500px !important;
    height: 250px !important;

    display: block;
    margin: 0 auto;
}