<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!----======== CSS ======== -->
        <link rel="stylesheet" href="../css/MenuStyle.css" />

        <!----===== Boxicons CSS ===== -->
        <link
            href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
            rel="stylesheet"
        />

        <title>Dashboard Sidebar SuperAdminMenu</title>
    </head>

    <body>
        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src="../media/logo.png" alt="" />
                    </span>

                    <div class="text logo-text">
                        <span class="name">Aspire</span>
                        <span class="profession">EMR</span>
                    </div>
                </div>

                <i class="bx bx-chevron-right toggle"></i>
            </header>

            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="../SuperAdminPages/home.html">
                                <i class="bx bxs-dashboard icon"></i>
                                <span class="text nav-text">Home</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="../SuperAdminPages/patients.html">
                                <i class="bx bxs-user-account icon"></i>
                                <span class="text nav-text">Patients</span>
                            </a>
                        </li>
                        <li class="nav-link">
                            <a href="./request.html">
                                <i class="bx bxs-bell-ring icon"></i>
                                <span class="text nav-text">Request</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="../SuperAdminPages/calendar.html">
                                <i class="bx bxs-calendar icon"></i>
                                <span class="text nav-text">Calendar</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="../SuperAdminPages/messaging.html">
                                <i class="bx bxs-message-alt-detail icon"></i>
                                <span class="text nav-text">Messaging</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="../SuperAdminPages/billing.html">
                                <i class="bx bxs-wallet-alt icon"></i>
                                <span class="text nav-text">Billing</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="../SuperAdminPages/financials.html">
                                <i class="bx bx-line-chart icon"></i>
                                <span class="text nav-text">Financials</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="bottom-content">
                    <li class="">
                        <a href="../auth/">
                            <i class="bx bx-log-out icon"></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>

                    <li class="mode">
                        <div class="sun-moon">
                            <i class="bx bx-moon icon moon"></i>
                            <i class="bx bx-sun icon sun"></i>
                        </div>
                        <span class="mode-text text">Dark mode</span>

                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                </div>
            </div>
        </nav>

        <header class="profile-header font-['Roboto']">
            <p class="title">Super admin menu</p>
            <div class="flex items-center gap-5">
                <img
                    class="w-[50px] h-[50px] rounded-full"
                    src="../media/woman.avif"
                    alt=""
                />
                <div>
                    <p class="text-[20px] text-[#A4A4A4]">T. Hill</p>
                    <p class="text-[16px] leading-[21px]">Secretary</p>
                </div>
            </div>
        </header>

        <section class="main-content"></section>

        <script src="../js/MenuScript.js"></script>
    </body>
</html>
